.button {
    position: fixed;
    padding: 10px;
    top: 20px;
    left: 20px;
    font-size: 1.25em;
    border-radius: 55%;
    border-style: inset;
    background-color:rgb(233, 245, 245);
    color:rgb(1, 10, 1);
}